services:
  base:
    build:
      context: .
      dockerfile: Dockerfile.base
    image: seniorigortyapkin/blog-base

  client:
    container_name: client
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    image: seniorigortyapkin/client
    depends_on:
      - base
    ports:
      - "3000:3000"
    env_file:
      - docker.env
    networks:
      - blog-net
    restart: unless-stopped

  posts:
    container_name: posts
    build:
      context: .
      dockerfile: apps/posts/Dockerfile
    image: seniorigortyapkin/posts
    depends_on:
      - base
    ports:
      - "80:80"
    env_file:
      - docker.env
    networks:
      - blog-net
    restart: unless-stopped

  comments:
    container_name: comments
    build:
      context: .
      dockerfile: apps/comments/Dockerfile
    image: seniorigortyapkin/comments
    depends_on:
      - base
    ports:
      - "80:80"
    env_file:
      - docker.env
    networks:
      - blog-net
    restart: unless-stopped

  query:
    container_name: query
    build:
      context: .
      dockerfile: apps/query/Dockerfile
    image: seniorigortyapkin/query
    depends_on:
      - base
    ports:
      - "80:80"
    env_file:
      - docker.env
    networks:
      - blog-net
    restart: unless-stopped

  moderation:
    container_name: moderation
    build:
      context: .
      dockerfile: apps/moderation/Dockerfile
    image: seniorigortyapkin/moderation
    depends_on:
      - base
    ports:
      - "80:80"
    env_file:
      - docker.env
    networks:
      - blog-net
    restart: unless-stopped

  event-bus:
    container_name: event-bus
    build:
      context: .
      dockerfile: apps/event-bus/Dockerfile
    image: seniorigortyapkin/event-bus
    depends_on:
      - base
    ports:
      - "80:80"
    env_file:
      - docker.env
    networks:
      - blog-net
    restart: unless-stopped

networks:
  blog-net:
    driver: bridge
